@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body{
    width: 100%;
}
/* Home section */

#home {
    width: 100%;
}
#about{
    width: 100%;
}
/*---------------------------------------------------------*/


input {
    padding: 22px 15px !important;
    border: 1px solid #CFD8DC !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #000 !important;
    font-size: 16px !important;
    letter-spacing: 1px;
    position: relative;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #f1a501 !important;
    outline-width: 0;
}

.fa-calendar {
    position: absolute;
    top: 13px;
    font-size: 20px;
    color: #b78c2a;
    z-index: 1000;
}

#fa-1 {
    left: calc(50% - 40px);
}

#fa-2 {
    left: calc(100% - 40px);
}

.form-control-placeholder {
    position: absolute;
    top: -10px !important;
    padding: 12px 2px 0 2px;
    opacity: 0.5;
}

#end-p {
    left: calc(50% + 4px);
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 95%;
    top: 10px;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #BDBDBD;
}

::-ms-input-placeholder {
    color: #BDBDBD;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.datepicker {
    background-color: #fff;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important;
}

.datepicker-dropdown {
    top: 180px !important;
    left: calc(50% - 173.5px) !important;
    border-right: #f1a501;
    border-left: #f1a501;
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: calc(50% - 6px) !important;
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: calc(50% - 5px) !important;
    border-bottom-color: #f1a501;
}

.datepicker-dropdown.datepicker-orient-right:after {
    border-bottom-color: #f1a501;
}

.datepicker table tr td.today, span.focused {
    border-radius: 50% !important;
    background-image: linear-gradient(#FFF3E0, #FFE0B2);
}

thead tr:nth-child(2) {
    background-color: #f1a501 !important;
}

/*Weekday title*/
thead tr:nth-child(3) th {
    font-weight: bold !important;
    padding: 20px 10px !important;
    color: #BDBDBD !important;
}

tbody tr td {
    padding: 10px !important;
}

tfoot tr:nth-child(2) th {
    padding: 10px !important;
    border-top: 1px solid #CFD8DC !important;
}

.cw {
    font-size: 14px !important;
    background-color: #E8EAF6 !important;
    border-radius: 0px !important;
    padding: 0px 20px !important;
    margin-right: 10px solid #fff ;
}

.old, .day, .new {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
}

.day.old, .day.new {
    color: #E0E0E0 !important;
}

.day.old:hover, .day.new:hover {
    border-radius: 50% !important;
}

.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
    border-radius: 50% !important;
    background-color: #eee;
}

.active {
    border-radius: 50% !important;
    background-image: linear-gradient(#1976D2, #1976D2) !important;
    color: #fff !important;
}

.range-start, .range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#1976D2, #1976D2) !important;
}

.range {
    background-color: #E3F2FD !important;
}

.prev, .next, .datepicker-switch {
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 18px;
    opacity: 0.7;
    color: #fff;
}

.prev:hover, .next:hover, .datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}

.pageTile{
    text-align: center;
    justify-content: center;
    font-family:"Verdana";
}
.title{
    text-decoration: none;
    color: white;
}

.title:hover{
   /* outline: none;*/
    text-decoration: none;
    color: white;
}

.about_us_Card {
    transition: 0.3s;
}

.about_us_Card:hover{
    transform: translateY(-10px);
}

.placeTile{
    font-size: 22px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: calc(100% - 40px);
    margin: 0px 20px;
    position: absolute;
    z-index: 10;
    bottom: 15px;
}

.placeCard{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.placeCard:hover{
    transition: all 0.3s ease;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.star-rating {
    display: inline-block;
    font-size: 0; /* Hide the text within the stars */
}

.star-rating input {
    display: none; /* Hide the radio buttons */
}

.star-rating label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    color: gold;
}

.star-rating label::before {
    content: "\2605";
}

/*------------------------------------------------------------------*/

#home{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/bgimage.png");
    background-size: cover;
}
#aboutpage{
    width: 100%;
}
#packagePage{
    width: 100%;
}
#destinationPage{
    width: 100%;
}
#ContactPage{
    width: 100%;
}
section{
    padding: 100px;
}

.homePageTitle{
    font-family: 'Cabin', sans-serif;
    font-weight: 2000;
    font-size: 3.88651rem;
    color: #181E4B;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    display: block;
}
.main-subtitle {
    font-weight: 900;
    font-size:0.88651rem;
    color: #DF6951;
}

.homePageImage{
    width: 105%;
    margin-left: -5rem;

}
.pageTile{
    font-family: 'Cabin', sans-serif;
    color: #181E4B;
}

/*-----------------------------------------------*/

.car-filter-bar-sort{
    display: inline-block;
    flex:1;
}

.car-dropdown{
    background-color: #0a53be;
}

.car-dropdown-nav{

}
